body{
  background-color: hsl(0, 0%, 95%);
}
header{
padding: 10px;  
}
#poisk{
background-color: hsl(0, 0%, 90%);
padding: 20px;

}
.knopka{
     display: flex;
    justify-content: space-around;
} 
a{
text-decoration: none;
color: black;
font-size: 20px;

}
.poiskovik{
  border-radius: 10px;
}
.katalog{
  width: 200px;
  border-radius: 15px;
}
.lupa{
  width: 30px;
 
}
.carousel-control-prev-icon,
.carousel-control-next-icon{
  width: 50px;
  height: 50px;
  background-color:gray;
  border-radius: 50%;
  padding: 10px;  
}
.carousel-control-prev-icon:hover,
.carousel-control-next-icon:hover{
  background-color: hsl(0, 0%, 50%);
}
.slide-text{
  position: absolute;
  top: 80px;
  left: 30px;
  background-color: rgba(255, 255, 255, 0.20);
  color: rgb(61, 56, 56);
  backdrop-filter: blur(4px);
}
h1{
  font-size: 100px;
}
.inter{
font-size: 60px;
}
p{
  
  font-size: 35px
}
span{
  color: brown;
}
.itd-knopka{
  width: 150px;
  background-color: rgb(206, 12, 12);
  border-radius: 15px;
}
.card-img{
  cursor: pointer;
  transition:transform 0.3s ease;
}
.image-container:hover .card-img{
  transform: scale(1.1);
}
.card-img-overlay{
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.card-text{
  font-size: 20px;
}
.tesakani{
  padding: 50px;
  /* margin: 20px; */
}
.flag{
  display: flex;
  justify-content: space-between;
  /* width: 1000px; */
}
.flajok{
  width: 150px;
}
.tovar{
  margin: 30px;
}
.liniya-home:hover  { 
  color: brown;
}
.tovar-knopka{
  position: relative;
  bottom: 90px;
  width: 235px;
}
.hover-fade{
  opacity: 0;
  transition: opacity 0.3s ease;

}
.tovar:hover .hover-fade{
opacity: 1;
}  /* button type="button" class="btn btn-danger btn-lg text-white">Подробнее</button> */
.arktex-fhoto{
  background-color: white;
}
.about-card{
  width: 550px;
  height: 550px;
  background-color: white;
}
  .cosmeticLines{
    background-color: white;
    padding: 30px;
  }
.otziv1, .finish{
  background-color: white;
}
.input{
  border-radius: 50%;
}